.about{
    width: 100%; 
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.about__heading{
    font-size: 4rem;
    font-weight: 700; 
    margin-bottom: 2rem;
}

.about__desc{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.about__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.6rem 0;
}

.about__buttons button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: coral;
}

.about__buttons button:hover{
    background-color: rgb(255, 68, 0);
}